body{
    background-color: rgb(100, 121, 216);
    font:normal 15pt arial
}
header{
    color: aliceblue;
    font:normal 18pt arial;
}
section{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 500px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(85, 110, 143);
}
div{
    padding: 15px;
}

footer{
    text-align: center;
    color: rgb(115, 190, 255);
    font:italic;
}